* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
 
   
  .container {
    margin: 30px auto;
    padding: 32px 44px;
    margin-bottom: 30px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ddd;
    width: 300px;
    background: #f5f5f5;
  }
   
  label {
    display: block;
    margin-bottom: 6px;
  }
   
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 6px;
    margin-bottom: 12px;
    outline: none;
  }
   
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #555;
  }
   
  input[type="submit"] 
  {
    width: 100%;
    padding: 6px;
    font-size: 1em;
    background: #0092d8;
    border: 1px solid #0092d8;
    border-radius: 4px;
    outline: none;
    color: #fff;
  }
   
  input[type="submit"]:hover {
    cursor: pointer;
    background: #0376ad;
  }
   
  .error {
    border: 1px solid #ff6c6c;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 18px;
    background: #ff7272;
    color: #fff;
  }

  body {
    background-color: whitesmoke;
}
.jumbotron {
    font-size: 20px;
    padding: 70px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }
 nav {
    background-color: #18a0be;
    padding: 20px;
 }
 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
}
.featured-image{
    width: 100%
    max-height: 300px;
   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 header{
     text-align: center;
          
 }
 .img {
     width: 250px;
     
 }
 main {
    padding: 20px;
    overflow: auto;
 }
 p{
    text-indent: 2em;
    margin: 0px;
 }
 #content {
    float: left;
    width: 75%;
 }
 * {
    box-sizing: border-box;
 }
 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }
 @media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}
footer{
    padding: 50px;
    color:black;
    background: rgb(80, 216, 216);
    text-align: center;
    font-weight: bold;
}