body {
    background-color: whitesmoke;
}
.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }
 nav {
    background-color: #18a0be;
    padding: 5px;
 }
 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
}
.featured-image{
    width: 100%
    max-height: 300px;
   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 header{
     text-align: center;
          
 }
 .img {
     width: 250px;
     
 }
 main {
    padding: 20px;
    overflow: auto;
 }
 p{
    text-indent: 2em;
    margin: 0px;
 }
 #content {
    float: left;
    width: 75%;
 }
 * {
    box-sizing: border-box;
 }
 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }
 @media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}
footer{
    padding: 50px;
    color:black;
    background: rgb(80, 216, 216);
    text-align: center;
    font-weight: bold;
}
